.container {
    @include size(100%, 100%);
    @include scrollbar();
    position: relative;

    &__header {
        @include flex();

        &__back {
            position: absolute;
            left: 1em;
            cursor: pointer;
        }
    }

    &__body {
        margin: 1em;
        min-width: 220px;
    }
}